.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pnohebook-container{
  width: 700px;
  padding-left: 100px;
  padding: 20px;
}


/* Contacts List */
 .contact-name{
  width: 500px;
  margin-right: 60px;
  
}
.contacts-list{
  width: 700px;
}
.contacts-item:not(:last-child){
  margin-bottom: 20px;
}


/* Filter */
.filter-container{
  display: flex;
  flex-direction: column;

}

 label, input {
  margin-bottom: 10px;
}

/* Contact Form */

 
 
 .contact-form{
   display: flex;
   flex-direction: column;
   padding: 10px;
   border: 1px solid #000000;
 }
 
 .contact-form button{
   width: 100px;
 }